<testgen-two-global-header
  (sidenavtoggle)="sideNavToggle()"
></testgen-two-global-header>
<div class="wrapper">
  <div class="container">
    <testgen-two-global-sidenav [opened]="sideNavOpen">
      <mat-nav-list sidenav="">
        <a
          mat-list-item=""
          routerlinkactive="active-link"
          routerlink="/"
          (click)="sideNavToggle()"
        >
          <span class="App__sidenav-text">Home</span>
        </a>
      </mat-nav-list>
      <router-outlet></router-outlet>
    </testgen-two-global-sidenav>
  </div>
</div>
<testgen-two-global-footer> </testgen-two-global-footer>
